---
---


//HOWTO: align something center horizontally and bottom vertically: http://stackoverflow.com/a/299929/1742518
//HOWTO: responsive font size: https://css-tricks.com/viewport-sized-typography/

@import "variables";
@import "bootstrap";

/* text */

h1 {
	font-family: main-font, Verdana;
	margin: 0 auto;
	font-size: 3.5vw;
}

@media (min-width: 300px) {
	h1 {
		font-size: 3.5vw;
	}
}

@media (min-width: 800px) {
	h1 {
		font-size: 37pt;
	}
}


h3 {
	font-family: main-font, Verdana;
	margin: 0 auto;
	font-size: 2.5vw;
}

@media (min-width: 300px) {
	h3 {
		font-size: 2.5vw;	
	}
}

@media (min-width: 800px) {
	h3 {
		font-size: 26pt;		
	}
}


h4 {
	font-family: main-font, Verdana;
	margin: 0 auto;	
}

body {
	background-color: $banner-color;
}

.page-content {
	padding-top: 0px;
	padding-bottom: 0px;	
	background-color: black;
}

p {
	/*font-size: 3vmin;*/
	
	text-align: left;
	font-family: main-font, Verdana;	
}

@media (min-width: 300px) {
	p {
		font-size: 3vmin;		
	}
}

@media (min-width: 800px) {
	p {
		font-size: 18pt;		
	}
}

a {
	color: $brand-primary;
}

a:visited {
	color: $brand-primary;	
}

a:hover {
	color: $brand-primary-dark;
}

@font-face {
	font-family: main-font, ;
	src: url('/assets/fonts/Segan-Light.ttf');
}

/* attributes */
.circular {	
    /*border: 2px solid white;*/
	border-radius: 150px;	
}

.color-primary {
	color: $brand-primary;
}

.color-primary-inverse {
	color: $brand-primary-inverse;
}


.text-align-center {
	text-align: center;
}

/* head */ 

.head-container {
	padding-left: 5%;
	padding-right: 5%;	
	padding-top: 10%;	
}

.head-content {
	height: 400px;	
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.head-title {
	margin-bottom: 0px;	
	position: absolute;
	bottom: 0px;
	text-align: center;
	width: 100%;
}

.head-title hr {
	margin-bottom: 16px;
}

hr {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 16px;
	margin-bottom: 32px;

}

.background-image {
	background-image: url('/assets/images/background-header-main.png');	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

#mission-statement {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 32px;
}

/* products */
.banner {
	background-color: $banner-color;
	width: 100vw;	
}



#challenge-uncertainty {
	margin-top: 200px;	
	padding-top: 32px;	
	padding-left: 5%;
	padding-right: 5%;
}

.product-container{
	display: flex;	
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 64px;
	padding-bottom: 40px;
	margin-left: 0px;

}

.product-image{
	width: $default-image-size-large-media;
	height: $default-image-size-large-media;		
	display: block;
}

@media (min-width: 300px) {
	.product-image{ 
		width: $default-image-size-small-media;
		height: $default-image-size-small-media;
	}
}

@media (min-width: 800px) {
	.product-image{ 
		width: $default-image-size-large-media;
		height: $default-image-size-large-media;
	}
}


@media (min-width: 300px) {
	.product {		
		max-width: 60vw;
	}

	.visibile-on-wide {
		visibility: hidden;
		height: 0px;
		margin: 0px;
		padding: 0px;
	}

	.product p {
		margin-top: 16px;
	}

	.visible-on-narrow{
		visibility: visible;		
	}	
}

@media (min-width: 800px) {
	.product {
		max-width: 20vw;				
	}

	.visibile-on-wide {
		visibility: visible;
	}

	.visibile-on-narrow {
		visibility: hidden;
		height: 0px;
		margin: 0px;
		padding: 0px;
	}

	.product p {
		margin-top: 32px;
	}	
}



.product hr {
	margin-left: 0px;
}

/* company members */

#team {
	margin-top: 100px;
}

.grid-container {			
	height: 1500px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;		
	width: 90vw;	
	margin-left: auto;
	margin-right: auto;	
	margin-top: 100px;		
}

.grid-item { 			
	
	flex: 1 1 auto;
	margin-bottom: 100px;  	 
  	margin-right: 16px;  	  		
	background: $banner-color; 	
	width: 40vw; 	
	padding-left: 5%; 
    padding-right: 5%;        	 	
 	max-width: 600px; 	
 }

 

.grid-item-content{
	margin: 0 auto;		
}

.grid-item-description {
	margin-top: 10%;
}

.profile-image {
	
	width: $default-image-size-large-media;
	height: $default-image-size-large-media;
	position: relative; 	
	top: -($default-image-size-large-media/2);
	display: block;	
	
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}

@media (min-width: 300px) {
	.profile-image {
		width: $default-image-size-small-media;
		height: $default-image-size-small-media;
		top: -($default-image-size-small-media/2);
	}
}

@media (min-width: 800px) {
	.profile-image {
		width: $default-image-size-large-media;
		height: $default-image-size-large-media;
		top: -($default-image-size-large-media/2);
	}
}



.employee-contact-details{
	color: $brand-primary;
	margin-top: 20%;	
}

@media (min-width: 300px) {
	.grid-container {
		flex-direction: row;
	}

	.grid-item {
		width: 60vw;
	}
}

@media (min-width: 800px) {
	.grid-container {
		flex-direction: column;		
	}

	.grid-item {
		width: 400px; 	
	}
}


/* twitter feed */

.twitter-feed-container {
	margin-top: 32px;
	margin-bottom: 32px;
}

.twitter-feed-background {
	background-color: $banner-color;
	background-image: url('/assets/images/background-twitter.png');		
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 100%;	
}


.twitter-feed-container {
	margin-top: 50px;
	margin-bottom: 50px;	
	padding-top: 50px;
	padding-bottom: 50px;
}

.twitter-feed-content {
	
}

#tweet-image {
	height: 75px;
	width: 75px;
}

#twitter-follow-us {
	margin-top: 32px;
}

#tweets {	
	margin-left: auto;
	margin-right: auto;
	padding-top: 32px;
	background-color: $banner-color;	
}
 

/* contact form */

.contact-container {
	margin-top: 10%;
	padding: 32px;
}

.contact-details {	
	text-align: left;
	width: auto;
	/*border: 1px solid blue;*/
}

.contact-content {	
	width: 50%;
	margin-top: 32px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
}

.contact-content hr {
	margin: 0px;
	margin-bottom: 16px;
}

#contact-us {
	margin-bottom: 16px;
}

#btn-contact-submit {		
	border-radius: 0px;	
}

.form-horizontal fieldset .form-group input {		
	border-radius: 0px;
}

//HOWTO: change input placeholder color in bootstrap: http://stackoverflow.com/a/20774043/1742518
.form-control::-webkit-input-placeholder { color: $brand-primary; }
.form-control:-moz-placeholder { color: $brand-primary; }
.form-control::-moz-placeholder { color: $brand-primary; }
.form-control:-ms-input-placeholder { color: $brand-primary; }



@media (min-width: 300px) {
	.contact-content {
		flex-direction: column;			
		margin: 0px;					
	}	
	
	.contact-details {
		margin-left: 0px;
	}

	.contact-form {
		width: 60vw;
		margin-left: 0px;		
	}
}

@media (min-width: 800px) {
	.contact-content {
		flex-direction: row;		
		margin-top: 32px;
		margin-left: auto;
		margin-right: auto;
	}	

	.contact-form {
		width: 50%;		
	}

	.contact-details {
		margin-left: 50px;
	}

}
