 $body-bg: #000;
 $brand-primary: #00aba5;
 $brand-primary-dark: #0E6E68;
 $brand-primary-inverse: #ffffff;
 $headings-color: $brand-primary;
 $text-color: #ffffff;
 $banner-color: #141a19;


 $default-image-size-small-media: 15vw;
 $default-image-size-large-media: 150px;

 @import "bootstrap/variables";
